package ${package};

import org.adempiere.webui.factory.AnnotationBasedFormFactory;
import org.adempiere.webui.factory.IFormFactory;
import org.osgi.service.component.annotations.Component;

@Component(service = IFormFactory.class, immediate = true)
public class ${className} extends AnnotationBasedFormFactory {

	public ${className}() {
	}

	@Override
	protected String[] getPackages() {
		return new String[] {"${package}"};
	}

}
